# ===== Python =====
__pycache__/
*.py[cod]
*.pyo
*.pyd

# ===== Virtual Environment =====
.venv/
venv/
env/

# ===== Jupyter =====
.ipynb_checkpoints/

# ===== VS Code =====
.vscode/

# ===== Data (datasets grandes ou brutos) =====
data/raw/
data/*.zip
data/*.csv

# ===== OS =====
.DS_Store
Thumbs.db

# ===== Logs =====
*.log
